<div class="contents col-md-4">
    <h4 class="uppercase">{{title}}</h4>
    <div class="individual-items">
      Category: {{category}}
    </div>
    <div class="individual-items">
      Description:{{description}}
    </div>
    <div class="individual-items">
      Website: {{link}}
    </div>
    <div class="individual-items">
      Let's get this done by the time I'm {{deadline}}
    </div>
    <div class="individual-items">
      Tags: {{tags}}
    </div>
  </div>
</div>
