<div>
  <h4>{{title}}</h4>
  <div>
    Category: {{category}}
  </div>
  <div>
    Description:{{description}}
  </div>
  <div>
    Website: {{link}}
  </div>
  <div>
    Let's get this done by the time I'm {{deadline}}
  </div>
  <div>
    Tags: {{tags}}
  </div>
</div>
