<div>
  <h4>{{title}}</h4>
  <div>
    Category: {{category}}
  </div>
  <div>
    Description:{{description}}
  </div>
  <div>
    Website: {{link}}
  </div>
  <div>
    Let's get this done by the time I'm {{deadline}}
  </div>
  <div>
    Tags: {{tags}}
  </div>
  <div class="bucketEditDeleteButtons">
    <button type="submit" class="delete-bucket-button btn btn-default" id="{{@index}}" data-id="{{_id}}">Delete</button>
    <button type="submit" class="edit-bucket-button btn btn-default" id="{{@index}}" data-id="{{_id}}">Update</button>
  </div>
</div>
